<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <h1>記事内容</h1>
<p>
  <b> タイトル：<%= @post.title %></b>
</p>

<p>
  <b> カテゴリ：<%= @post.category %></b>
</p>

<p>
  <b> 本文：<%= @post.body %></b>
</p>



</body>
</html>
